<header class="main" role="banner">
  {% if page_title %}
    <div id="branding">
      {% if page_title %}
        <h1>
          {% if page_title_link %}<a href="{{ page_title_link}}">{% endif %}
            {{ page_title }}
          {% if page_title_link %}</a>{% endif %}
        </h1>
      {% endif %}

      {% if page_tagline %}
        <h2>
          {% if page_tagline_link %}<a href="{{ page_tagline_link }}">{% endif %}
            {{ page_tagline }}
          {% if page_tagline_link %}</a>{% endif %}
        </h2>
      {% endif %}
    </div>
  {% endif %}
</header>
